@import url('https://fonts.googleapis.com/css?family=Roboto');
body {background: linear-gradient(0deg, #395163 0%, #003367 100%); overflow: hidden ; font-family: roboto; -webkit-font-smoothing: antialiased; margin: 0;}
.flex {
    display: flex;
    flex-direction: row;
}

.slider-wrapper div {position: relative;}
.slider-wrapper {}

.slide-image{
    margin-top:20vh;
    margin-left:4vw;
}

.slide-content {width: 45vw; color: #fff; padding:;}


.arrows{width: 3.5vw; position: absolute; right:8vw; top:85vh;}
.arrow {display: inline-block; position: absolute; width: 1.2vw; height: 1.2vw; background: transparent; text-indent: -9999px; border-top: 0.15vw solid #fff; border-left: 0.15vw solid #fff; transition: all .1s ease-in-out; text-decoration: none; color: transparent;
}
.arrow:hover {border-color: #0A8ACB; border-width: 0.25vw;
}
.arrow:before {display: block; height: 200%; width: 200%; margin-left: -50%; margin-top: -50%; content: ""; transform: rotate(45deg);}
.arrow.prev {transform: rotate(-45deg); left: 0;}
.arrow.next {transform: rotate(135deg); right: 0;}

.content{
    font-family: Itim,cursive;
}

.font{
    font-size:17px;
}

.home-button {
    padding:10px 18px;
    color: #fff;
    border-radius: 2rem;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.home-button:hover {
    opacity: 0.8;
    background: whitesmoke;
    box-shadow: none;
    color: #395163;
}
.home-button:focus {
    outline: none;
    border: none;
}
.home-button {
    /* background: linear-gradient(0deg, #395163 0%, #003367); */
    color:#003367;
    background-color: whitesmoke;
}

td{
    padding:10px;
    padding-left:25px;
}

table tr td img{
    position: relative;
    top:6px;
}